# --{ =-=-=-=-=-=-=-=-=-= ServerPlus's Configuration Settings, by Momocraft =-=-=-=-=-=-=-=-=-= }--
# Wiki: https://github.com/momoservertw/ServerPlus/wiki
Config-Version: 1
Check-Updates: true
Debugging: false

General:
  Settings:
    # Translating the placeholder of vanilla Items, Entities, Enchantments name.
    Vanilla-Translate:
      Local: "en_us"
    Features:
      # Changed these options need to restart the server.
      Hook:
        Vault: true
        PlaceHolderAPI: true
        Residence: true
        CMI: true
        MyPet: true
        MorphTool: true
        ItemJoin: true
        DiscordSRV: true
        AuthMe: true
        LocaleLib: true
  # The settings for custom commands.
  # More information: https://github.com/momoservertw/LotteryPlus/wiki/Custom-Command
  Custom-Commands:
    Settings:
      Log:
        Default:
          # Creating new file if the modified date is difference.
          New-File: true
          To-Zip: true
        Custom:
          New-File: false
          To-Zip: true
          Path: "plugin//CustomLogs"
          Name: "latest"
    # To send frequently used commands with placeholders.
  Groups:
    reward: "message: &6&lReward&c✤ &f%cmd_arg1%"
    awards: "message: &d✧ &f%cmd_arg1% &d✧"
    cgl: "broadcast: &6Congratulate &e%player% &6use &f%cmd_arg1% &8- &6Get the %cmd_arg2% &7<&f%cmd_arg3%&7>"
    money: "console: money give %player% %cmd_arg1%"
  # The settings for custom sounds.
  # More information: https://github.com/momoservertw/HotkeyPlus/wiki/Custom-Sounds
  Sounds:
    Succeed:
      Type: ENTITY_PLAYER_LEVELUP
    Failed:
      Type: ENTITY_SHULKER_HURT
    SlimeJump:
      Type: ENTITY_SLIME_JUMP
      Loop:
        Times: 8
        Interval: 20
  # The settings for custom particles.
  # More information: https://github.com/momoservertw/HotkeyPlus/wiki/Custom-Particles
  Particles:
    Slime:
      Type: SLIME
      Amount: 3
      Times: 8
      Interval: 20
    Flame:
      Type: FLAME
      Amount: 3
      Times: 8
      Interval: 20
  # The menu item for some events like showing blocks or destroying it.
  # If you don't have a menu in your server, you can set Item Name to "" to use a vanilla item.
  # Support: ItemJoin
  Menu:
    ItemJoin: ""
    Item:
      Type: "PLAYER_HEAD"
      Name: "&e&lMy &6&lMenu"
  Location:
    NormalWorlds:
      Worlds:
        - world
    NetherWorlds:
      Worlds:
        - world_nether
    EndWorlds:
      Worlds:
        - world_the_end
    NormalBorder:
      Worlds:
        - world
      Area:
        S: 10000
    Bedrock_World:
      Worlds:
        - world
      Area:
        Y: ">= 5"
    Bedrock_Nether:
      Worlds:
        - world_nether
      Area:
        Y: "5 ~ 123"

MyPet:
  Enable: true
  Skilltree-Auto-Select:
    Enable: true
    Groups:
      # This group is for the pet which no specify skill.
      Default:
        Enable: true
        Commands:
          - "op: lotteryplus lottery petskill"
      Arrowexp:
        Enable: false
        Types:
          - Skeleton
        Commands:
          - "op: lotteryplus lottery petskill_arrowexp"
      Decay:
        Enable: false
        Types:
          - Husk
        Commands:
          - "op: lotteryplus lottery petskill_decay"
      Lithe:
        Enable: false
        Types:
          - Donkey
          - Horse
        Commands:
          - "op: lotteryplus lottery petskill_lithe"
      Mount:
        Enable: false
        Types:
          - Donkey
          - Horse
        Commands:
          - "op: serverplus lottery petskill_mount"
      Fire:
        Enable: false
        Types:
          - ZOMBIFIEDPIGLIN
          - BLAZE
        Commands:
          - "op: serverplus lottery petskill_fire"

MySQLPlayerDataBridge:
  Enable: true
  SyncComplete:
    Enable: true
    Commands:
      - "player: lotteryplus itemjoinfix false"
      - "player: zlogin"

# A simple ItemJoin item convertor for broken Items.
# Command: /serverplus itemjoinfix
ItemJoin:
  Enable: true
  Fix-Old-Item:
    Enable: true
    Settings:
      # The multiple menu item in player's inventory will be removed.
      One-Menu:
        Enable: true
        ItemNode: "menu5"
        Type: "PLAYER_HEAD"
        Name: "&d&l茉茉選單&f㍿ &7剉冰"
    Groups:
      points:
        Type: "PINK_DYE"
        Name: "&d&l茉茉代幣&8❦ &7x1"
      easter_ticket:
        Type: "EGG"
        Name: "&c&l彩&6&l蛋&e&l兌&a&l換&b&l券"
      menu:
        Type: "COMPASS"
        Name: "&d&l茉茉選單2.0"
      menu2:
        Type: "PLAYER_HEAD"
        Name: "&d&l茉茉選單3.0"
      menu4:
        Type: "PLAYER_HEAD"
        Name: "&d&l茉茉選單&f㍿ &c&l4.0"
      menu5:
        Type: "PLAYER_HEAD"
        Name: "&d&l茉茉選單&f㍿ &7剉冰"
      easter_egg:
        Type: "PLAYER_HEAD"
        Name: "&e&l黃金彩蛋"
      GP1:
        Type: "BRICK"
        Name: "&d&l茉茉禮包&a&lI"
      GP2:
        Type: "NETHER_BRICK"
        Name: "&d&l茉茉禮包&b&lII"
      GP3:
        Type: "IRON_INGOT"
        Name: "&d&l茉茉禮包&e&lIII"
      carnation:
        Type: "BRAIN_CORAL_FAN"
        Name: "&d&l康乃馨&c&o?"
      head_random:
        Type: "PAPER"
        Name: "&c&l隨機頭顱 &f&l兌換券"
      fly:
        Type: "PAPER"
        Name: "&b&l飛行券"
      blade1:
        Type: "END_ROD"
        Name: "§b§l淨化猙之刃"
      blade2:
        Type: "END_ROD"
        Name: "§f§l猙之刃"
      petbuy0:
        Type: "PLAYER_HEAD"
        Name: "&f&l初新手 &6&l寵物轉蛋"
      petbuy1:
        Type: "PLAYER_HEAD"
        Name: "&f&l第1系列 &6&l寵物轉蛋"
      petbuy2:
        Type: "PLAYER_HEAD"
        Name: "&f&l第2系列 &6&l寵物轉蛋"
      petskill:
        Type: "PLAYER_HEAD"
        Name: "&a&l寵物技能 &f&l學習書"
      petskill_fire:
        Type: "PLAYER_HEAD"
        Name: "&4&l烈焰 &a&l寵物技能 &f&l學習書"
      petskill_arrowexp:
        Type: "PLAYER_HEAD"
        Name: "&b&l妖精 &a&l寵物技能 &f&l學習書"
      petskill_decay:
        Type: "PLAYER_HEAD"
        Name: "&6&l腐化 &a&l寵物技能 &f&l學習書"
      petskill_mount:
        Type: "PLAYER_HEAD"
        Name: "&e&l溫馴 &a&l寵物技能 &f&l學習書"
      petskill_lithe:
        Type: "PLAYER_HEAD"
        Name: "&f&l輕盈 &a&l寵物技能 &f&l學習書"
      petexp1:
        Type: "MUSIC_DISC_WARD"
        Name: "&a&l寵物經驗包I"
      petexp2:
        Type: "MUSIC_DISC_MALL"
        Name: "&e&l寵物經驗包II"
      petexp3:
        Type: "MUSIC_DISC_FAR"
        Name: "&c&l寵物經驗包III"
      vehiclesbuy1:
        Type: "PLAYER_HEAD"
        Name: "&f&l第1系列 &c&l坐騎轉蛋"
      vehiclesbuy2:
        Type: "PLAYER_HEAD"
        Name: "&f&l第2系列 &c&l坐騎轉蛋"
      JP1:
        Type: "RED_DYE"
        Name: "&c&l茉茉刮刮樂I"
      JP2:
        Type: "GLOWSTONE_DUST"
        Name: "&6&l茉茉刮刮樂II"
      JP3:
        Type: "YELLOW_DYE"
        Name: "&e&l茉茉刮刮樂III"
      JP4:
        Type: "PRISMARINE_SHARD"
        Name: "&a&l茉茉刮刮樂IV"
      SM_BD:
        Type: "BOOK"
        Name: "&e&l生日怪 &f&l召喚書"
      SM_yoyo880603:
        Type: "BOOK"
        Name: "&e&l小草生日怪 &f&l召喚書"
      SM_PTL_Una:
        Type: "BOOK"
        Name: "&3&l忒忒生日怪 &f&l召喚書"
      SM_Zi_Shen_OuO:
        Type: "BOOK"
        Name: "&3&l紫雲生日怪 &f&l召喚書"
      SM_MaToo_chu:
        Type: "BOOK"
        Name: "&9&l獅子魚生日怪 &f&l召喚書"
      SM_Magic1412:
        Type: "BOOK"
        Name: "&9&l呱呱生日怪 &f&l召喚書"
      SM_One_Punch:
        Type: "BOOK"
        Name: "&c&l一拳&e&l超人 &f&l召喚書"
      SM_Inosuke:
        Type: "BOOK"
        Name: "&6&l伊之助 &f&l召喚書"
      SM_Nemesis:
        Type: "BOOK"
        Name: "&4&l魔王涅梅西斯 &f&l召喚書"
      SM_Zombie1:
        Type: "BOOK"
        Name: "&a&l黛咪 &f&l召喚書"
      SM_Zombie2:
        Type: "BOOK"
        Name: "&e&l黛咪 &f&l召喚書"
      SM_Zombie3:
        Type: "BOOK"
        Name: "&6&l傑恩 &f&l召喚書"
      SM_Zombie4:
        Type: "BOOK"
        Name: "&c&l小丑 &f&l召喚書"
      SM_Zombie5:
        Type: "BOOK"
        Name: "&4&l人面鬼 &f&l召喚書"
      c_random_candy:
        Type: "PLAYER_HEAD"
        Name: "&e&l糖&a&l果&b&l包"
      c_increate_damage3:
        Type: "PLAYER_HEAD"
        Name: "&c&l力量糖果&f&lIII"
      c_speed3:
        Type: "PLAYER_HEAD"
        Name: "&9&l加速糖果&f&lIII"
      c_jump3:
        Type: "PLAYER_HEAD"
        Name: "&3&l跳躍糖果&f&lIII"
      c_health_boost3:
        Type: "PLAYER_HEAD"
        Name: "&6&l強壯糖果&f&lIII"
      c_regenration3:
        Type: "PLAYER_HEAD"
        Name: "&e&l康復糖果&f&lIII"
      c_fast_digging3:
        Type: "PLAYER_HEAD"
        Name: "&4&l破壞糖果&f&lIII"
      c_luck3:
        Type: "PLAYER_HEAD"
        Name: "&d&l幸運糖果&f&lIII"
      exp1:
        Type: "PLAYER_HEAD"
        Name: "&a&l茉茉經驗瓶I"
      exp2:
        Type: "PLAYER_HEAD"
        Name: "&e&l茉茉經驗瓶II"
      exp3:
        Type: "PLAYER_HEAD"
        Name: "&6&l茉茉經驗瓶III"
      lucky1_7d:
        Type: "PAPER"
        Name: "&a&l戴比路克的祝福I &f7日 &f&l兌換券"
      lucky1_30d:
        Type: "PAPER"
        Name: "&a&l戴比路克的祝福I &f30日 &f&l兌換券"
      lucky2_7d:
        Type: "PAPER"
        Name: "&e&l戴比路克的祝福II &f7日 &f&l兌換券"
      lucky2_30d:
        Type: "PAPER"
        Name: "&e&l戴比路克的祝福II &f30日 &f&l兌換券"
      lucky3_30d:
        Type: "PAPER"
        Name: "&e&l戴比路克的祝福 I + II &f30日 &f&l兌換券"
      slimecheck:
        Type: "BREWING_STAND"
        Name: "&a&l黏液檢測器&4&l〄"
      bbt_boost:
        Type: "BOOK"
        Name: "&d&l爆能強化箭矢&7&l☄ &f&l學習書"
      bbt_explosion:
        Type: "BOOK"
        Name: "&4&lExplosion！ &f&l學習書"
      bbt_wool:
        Type: "BOOK"
        Name: "&c&l彩&6&l色&e&l羊&a&l毛 &f&l學習書"
      bbt_glass:
        Type: "BOOK"
        Name: "&6&l彩&e&l色&a&l玻&9&l璃 &f&l學習書"
      bbt_terracotta:
        Type: "BOOK"
        Name: "&e&l彩&a&l色&9&l釉&1&l陶 &f&l學習書"
      em_1:
        Type: "BOOK"
        Name: "&e&l心情&4ღ &f表情I &f&l學習書"
      em_2:
        Type: "BOOK"
        Name: "&e&l心情&4ღ &f表情II &f&l學習書"
      em_3:
        Type: "BOOK"
        Name: "&e&l心情&4ღ &f表情III &f&l學習書"
      p_carnation:
        Type: "BOOK"
        Name: "&c&l特效&f✷ &c&l抱抱你 &f&l學習書"

# Prevent player change the MorphTool to identify the MorphTool.
# The diamond MorphTool will be broken if it update to Netherite tools.
MorphTool:
  Enable: true
  ToolName: "&c&l巨&6&l大&e&lな&a&lス&b&lラ&9&lイ&d&lム"
  Prvent-Update-Netherite: true

# Warning player to set their email.
AuthMe:
  Enable: true
  Mail-Warning:
    Enable: true

Donate:
  Enable: true
  Groups:
    mb:
      Enable: true
      Commands:
        - "console: lp user %player% parent settrack donate mb"

        - "broadcast: &6玩家 &e&l$player &6成為了 &a&lMB&6， 謝謝你&4&o♥"
        - "message: &d&l茉茉&c&o♥ &f歡迎加入大家庭！ 你現在是永久的居民囉 :)"
        - "message: &8▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩"
        - "message: &7解鎖："
        - "message: &7- 傳送點 +1"
        - "message: &7- 特效✷ 喜悅 (MB專屬)"
        - "message: &7- 戴帽子 /hat"
        - "message: &7- 遠端打開終界箱 /ender"
    vip:
      Enable: true
      Commands:
        - "console: lp user %player% parent settrack donate vip"
        - "console: petadmin create -f %player% sheep baby"

        - "broadcast: &6玩家 &e&l$player &6成為了 &b&lVIP玩家&6， 謝謝你&4&o♥"
        - "message: &d&l茉茉&c&o♥ &f謝謝你們的付出！ 期待伺服器能變得更好 :)"
        - "message: &8▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩"
        - "message: &7解鎖："
        - "message: &7- 特效✷ 自由藍天、火焰 (VIP專屬)"
        - "message: &7- 暱稱顏色： 藍色(b)"
        -
    mvp:
      Enable: true
      Commands:
        - 'console: lp user %player% parent settrack donate mvp'
        - "broadcast: &6玩家 &e&l$player &6成為了 &d&lMVP&6， 謝謝你&4&o♥"
        - "message: &d&l茉茉&c&o♥ &f你現在擁有更多社區管理權限"
        - "message: &8▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩"
        - "message: &7解鎖："
        - "message: &7- 特效✷ 永恆愛戀、愛心 (MVP專屬)"
        - "message: &7- 暱稱顏色： 紫色(d)"
    #支付GOD
    buy_god:
      command: /motw buy god
      type: RUN_CONSOLE
      runcmd:
        - '$Script$%if%$PlayerData%mointsall%<8000'
        - '$text$&d茉茉&c&o♥ &f累計贊助還不足喔！'
        - '$Script$%elseif%%luckperms_in_group_mvp%==yes'
        - '/lp user $player parent settrack donate god'
        - '$delay$'
        - '/mos 203'
        - '$delay$'
        - '$broadcasttext$&6冒險者 &e&l$player &6成為了 &e&lGOD玩家&6， 謝謝你&4&o♥'
        - '$delay$'
        - '$text$&d茉茉&c&o♥ &e你現在是伺服器榮譽的玩家！！'
        - '$delay$'
        - '$text$&c&l個人特效&f✷ &f解鎖GOD專屬特效: &e&l尊爵不凡 &4&l地獄鬼步 &e&l遊&a&l戲&b&l舞&d&l台'
        - '$delay$'
        - '$text$&e&l個人檔案&4&o♥ &f解鎖暱稱顏色: &e&l黃色'
        - '$Script$%elseif%%luckperms_in_group_general%==yes<or>%luckperms_in_group_default%==yes'
        - '$text$&d茉茉&c&o♥ &e請先升級為MB玩家！ &8- &f選單->贊助系統->升級MB'
        - '$delay$'
        - '$Script$%elseif%%luckperms_in_group_mb%==yes'
        - '$text$&d茉茉&c&o♥ &e請先升級為VIP玩家！ &8- &f選單->贊助系統->升級VIP'
        - '$delay$'
        - '$Script$%elseif%%luckperms_in_group_vip%==yes'
        - '$text$&d茉茉&c&o♥ &e請先升級為MVP玩家！ &8- &f選單->贊助系統->升級MVP'
        - '$delay$'
        - '$Script$%else%'
        - '$text$&e你已經升級過囉！'
      delaytimer: 10
      delaytimer_format: TICKS
      permission-required: false

Message:
  prefix: '&f'
  noPermission: '&cYou do not have permission to use that command!'
  configReload: '&aConfiguration(s) Reloaded!'
  unknownCommand: '&cUnknown command, See &e/ServerPlus help &cfor a list of commands.'
  cooldown: '&fPlease try it again later.'
  ServerPlus:
    Commands:
      title: "&8▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩ &d&lServerPlus &8▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩"
      help: "&a/serverplus help &8- &7This help menu."
      reload: "&a/serverplus reload &8- &7Reloads config file."
      version: "&f/serverplus version &8- &7Checks the plugin version and updates."
    ItemJoinFix: "&f成功掃描身上所有物品 - 修復 %amount% 個物品"
    MorphToolRename: "&c這個物品不能更改名字"
    MorphToolNetherite: "&c這個物品不能升級"
    AuthMeMailEmpty: "&c請設置 Email 用於取回密碼， 輸入/email add 信箱 信箱"