# ░░░░░░░░░░░░░░░   LotteryPlus, By Momocraft♥   ░░░░░░░░░░░░░░░
##  Wiki: https://github.com/momoservertw/ServerPlus/wiki
## ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
Config-Version: 1

General:
  Settings:
    Features:
      # Changed these options need to restart the server.
      Hook:
        Residence: true
        CMI: true
        MyPet: true
        MorphTool: true
        ItemJoin: true
        DiscordSRV: true
        AuthMe: true

MySQL-Utils:
  Enable: false
  Settings:
    MySQL:
      username: root
      password: ''
      hostname: localhost
      port: 3306
      database: bank

Bank-Return:
  Enable: true

MySQLPlayerDataBridge:
  Enable: false
  SyncComplete:
    Enable: true
    Commands:
      - "player: lotteryplus itemjoinfix false"
      - "player: zlogin"

MorphTool:
  Enable: true
  ToolName: "&c&l巨&6&l大&e&lな&a&lス&b&lラ&9&lイ&d&lム"
  Prvent-Update-Netherite: true

AuthMe:
  Enable: true
  Mail-Warning:
    Enable: true

MyPet:
  Enable: true
  Skilltree-Auto-Select:
    Enable: true
    Groups:
      # This group is for the pet which no specify skill.
      Default:
        Enable: true
        Commands:
          - "op: lotteryplus lottery petskill"
      Arrowexp:
        Enable: false
        Types:
          - Skeleton
        Commands:
          - "op: lotteryplus lottery petskill_arrowexp"
      Decay:
        Enable: false
        Types:
          - Husk
        Commands:
          - "op: lotteryplus lottery petskill_decay"
      Lithe:
        Enable: false
        Types:
          - Donkey
          - Horse
        Commands:
          - "op: lotteryplus lottery petskill_lithe"
      Mount:
        Enable: false
        Types:
          - Donkey
          - Horse
        Commands:
          - "op: serverplus lottery petskill_mount"
      Fire:
        Enable: false
        Types:
          - ZOMBIFIEDPIGLIN
          - BLAZE
        Commands:
          - "op: serverplus lottery petskill_fire"

Donate:
  Enable: true
  Groups:
    mb:
      Enable: true
      Group: "general"
      Next-Group: "mb"
      Commands:
        - "console: lp user %player% promote donate"
        - "all-sound: ENTITY_WITHER_SPAWN, 1, 1"
        - "delay: 20"
        - "all-sound: ENTITY_ENDER_DRAGON_AMBIENT, 1, 1"
        - "delay: 20"
        - "all-sound: ENTITY_ENDER_DRAGON_AMBIENT, 1, 1"
        - "delay: 30"
        - "all-sound: ENTITY_ENDER_DRAGON_AMBIENT, 1, 1"
        - "delay: 30"
        - "all-sound: UI_TOAST_CHALLENGE_COMPLETE, 1, 1"
        - "broadcast: &6玩家 &e%player_display_name% &6成為了 &a&lMB&6， 謝謝你&4&o♥"
        - "delay: 60;sound: ENTITY_PLAYER_LEVELUP, 1, 1"
        - "delay: 5;sound: ENTITY_PLAYER_LEVELUP, 1, 1"
        - "message: &d&l茉茉&c&o♥ &f歡迎加入大家庭！ 你現在是永久的居民囉 :)"
        - "delay: 60;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: "
        - "message: &7《&e&l解鎖&7》"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f帳號永久保留 (即使有問題， 茉茉也會盡力救回)"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f傳送點:&7    3個 +1⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f茉茉彩蛋:&7 150個 +50⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f領地格數:&7 14,400格 +4,400⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f特效:&7      喜悅、璀璨青春(綠色翅膀)"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f戴帽子:&7    /hat"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f終界箱:&7    /ender"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f每週禮物:&7 飛行券 x2、糖果包 x1"
        - "message: "
        - "delay: 60;sound: ENTITY_PLAYER_LEVELUP, 1, 1"
        - "delay: 5;sound: ENTITY_PLAYER_LEVELUP, 1, 1"
        - "message: &c&l禮物女孩&e&o♥ &f來找我領禮物！"
      Failed-Commands:
        - "message: &c你必須是一般玩家， 才可以升級MB！"
    vip:
      Enable: true
      Group: "mb"
      Next-Group: "vip"
      Commands:
        - "console: lp user %player% promote donate"
        - "all-sound: ENTITY_WITHER_SPAWN, 1, 1"
        - "delay: 20"
        - "all-sound: ENTITY_ENDER_DRAGON_AMBIENT, 1, 1"
        - "delay: 20"
        - "all-sound: ENTITY_ENDER_DRAGON_AMBIENT, 1, 1"
        - "delay: 30"
        - "all-sound: ENTITY_ENDER_DRAGON_AMBIENT, 1, 1"
        - "delay: 30"
        - "all-sound: UI_TOAST_CHALLENGE_COMPLETE, 1, 1"
        - "broadcast: &6玩家 &e%player_display_name% &6成為了 &b&lVIP&6， 謝謝你&4&o♥"
        - "delay: 60;sound: ENTITY_PLAYER_LEVELUP, 1, 1"
        - "delay: 5;sound: ENTITY_PLAYER_LEVELUP, 1, 1"
        - "message: &d&l茉茉&c&o♥ &f謝謝你們的付出！ 期待伺服器能變得更好 :)"
        - "delay: 60;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: "
        - "message: &7《&e&l解鎖&7》"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f優先加入遊戲 (滿人直接加入)"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f新版本封測資格，並獲得限定禮物"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f傳送點:&7   3個 +1⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f任務:&7     6個 +1⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f商城上架:&7 27個 +9⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f茉茉彩蛋:&7 200個 +100⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f好友:&7     18個 +9⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f領地格數:&7 25,000格 +15,000⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f領地費用:&7 9元 -1⇩"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f領地權限:&7 限制移動、防止生怪、防止飛行、避免田地毀壞、村民交易等"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f特效:&7      火焰、雪花隨風飄II、自由藍天(藍色翅膀)"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f暱稱顏色:&7 藍色(b)"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f騎人:&7      /ride"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f每週禮物:&7 飛行券 x4、糖果包 x2"
        - "message: "
        - "delay: 60;sound: ENTITY_PLAYER_LEVELUP, 1, 1"
        - "delay: 5;sound: ENTITY_PLAYER_LEVELUP, 1, 1"
        - "message: &c&l禮物女孩&e&o♥ &f來找我領禮物！"
      Failed-Commands:
        - "message: &c你必須是MB， 才可以升級VIP！"
    mvp:
      Enable: true
      Group: "vip"
      Next-Group: "mvp"
      Commands:
        - "console: lp user %player% promote donate"
        - "all-sound: ENTITY_WITHER_SPAWN, 1, 1"
        - "delay: 20"
        - "all-sound: ENTITY_ENDER_DRAGON_AMBIENT, 1, 1"
        - "delay: 20"
        - "all-sound: ENTITY_ENDER_DRAGON_AMBIENT, 1, 1"
        - "delay: 30"
        - "all-sound: ENTITY_ENDER_DRAGON_AMBIENT, 1, 1"
        - "delay: 30"
        - "all-sound: UI_TOAST_CHALLENGE_COMPLETE, 1, 1"
        - "broadcast: &6玩家 &e%player_display_name% &6成為了 &d&lMVP&6， 謝謝你&4&o♥"
        - "delay: 60;sound: ENTITY_PLAYER_LEVELUP, 1, 1"
        - "delay: 5;sound: ENTITY_PLAYER_LEVELUP, 1, 1"
        - "message: &d&l茉茉&c&o♥ &f你現在擁有更多社區管理權限"
        - "delay: 60;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: "
        - "message: &7《&e&l解鎖&7》"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f傳送點:&7   7個 +5⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f任務:&7     7個 +2⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f商城上架:&7 36個 +18⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f茉茉彩蛋:&7 300個 +200⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f好友:&7     45個 +36⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f領地格數:&7 115,200格 11倍⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f領地費用:&7 8元 -2⇩"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f領地權限:&7 放置、破壞、爆炸、PVP、鐵砧毀壞"
        - "message: &7          樹葉枯萎、自然怪物生成、開門、按鈕、拉桿等"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f特效:&7     愛心、粉紅色翅膀(粉紅翅膀)"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f暱稱顏色:&7 紫色(d)"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f每週禮物:&7 飛行券 x4、糖果包 x2"
        - "message: "
        - "delay: 60;sound: ENTITY_PLAYER_LEVELUP, 1, 1"
        - "delay: 5;sound: ENTITY_PLAYER_LEVELUP, 1, 1"
        - "message: &c&l禮物女孩&e&o♥ &f來找我領禮物！"
      Failed-Commands:
        - "message: &c你必須是VIP， 才可以升級MVP！"
    god:
      Enable: true
      Group: "mvp"
      Next-Group: "god"
      Commands:
        - "console: lp user %player% promote donate"
        - "all-sound: ENTITY_WITHER_SPAWN, 1, 1"
        - "delay: 20"
        - "all-sound: ENTITY_ENDER_DRAGON_AMBIENT, 1, 1"
        - "delay: 20"
        - "all-sound: ENTITY_ENDER_DRAGON_AMBIENT, 1, 1"
        - "delay: 30"
        - "all-sound: ENTITY_ENDER_DRAGON_AMBIENT, 1, 1"
        - "delay: 30"
        - "all-sound: UI_TOAST_CHALLENGE_COMPLETE, 1, 1"
        - "broadcast: &6玩家 &e%player_display_name% &6成為了 &e&lGOD&6， 謝謝你&4&o♥"
        - "delay: 60;sound: ENTITY_PLAYER_LEVELUP, 1, 1"
        - "delay: 5;sound: ENTITY_PLAYER_LEVELUP, 1, 1"
        - "message: &d&l茉茉&c&o♥ &f你現在是伺服器榮譽的玩家！"
        - "delay: 60;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: "
        - "message: &7《&e&l解鎖&7》"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f傳送點:&7   10個 +5⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f任務:&7      8個 +3⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f商城上架:&7 45個 +27⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f茉茉彩蛋:&7 400個 +300⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f好友:&7      無限制"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f領地格數:&7 270,000格 27x⇪"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f領地費用:&7 7元 -3⇩"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f領地權限:&7 飛行、身體發光、自動重生、"
        - "message: &7           工具不會消耗耐久、改變時間、改變天氣、跳更高"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f特效:&7      地獄鬼步、遊戲人生、尊爵不凡(金色翅膀)"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f暱稱顏色:&7 黃色(e)"
        - "delay: 15;sound: BLOCK_NOTE_BLOCK_IRON_XYLOPHONE, 1, 1"
        - "message: &f每週禮物:&7 飛行券 x10、糖果包 x6、神秘禮物"
        - "message: "
        - "delay: 60;sound: ENTITY_PLAYER_LEVELUP, 1, 1"
        - "delay: 5;sound: ENTITY_PLAYER_LEVELUP, 1, 1"
        - "message: &c&l禮物女孩&e&o♥ &f來找我領禮物！"
      Failed-Commands:
        - "message: &c你必須是MVP， 才可以升級GOD！"


ItemJoin:
  Enable: true
  Fix-Old-Item:
    Enable: true
    Settings:
      One-Menu:
        Enable: true
        ItemNode: "menu5"
        Type: "PLAYER_HEAD"
        Name: "&d&l茉茉選單&f㍿ &7剉冰"
    Groups:
      points:
        Type: "PINK_DYE"
        Name: "&d&l茉茉代幣&8❦ &7x1"
      easter_ticket:
        Type: "EGG"
        Name: "&c&l彩&6&l蛋&e&l兌&a&l換&b&l券"
      menu:
        Type: "COMPASS"
        Name: "&d&l茉茉選單2.0"
      menu2:
        Type: "PLAYER_HEAD"
        Name: "&d&l茉茉選單3.0"
      menu4:
        Type: "PLAYER_HEAD"
        Name: "&d&l茉茉選單&f㍿ &c&l4.0"
      menu5:
        Type: "PLAYER_HEAD"
        Name: "&d&l茉茉選單&f㍿ &7剉冰"
      easter_egg:
        Type: "PLAYER_HEAD"
        Name: "&e&l黃金彩蛋"
      GP1:
        Type: "BRICK"
        Name: "&d&l茉茉禮包&a&lI"
      GP2:
        Type: "NETHER_BRICK"
        Name: "&d&l茉茉禮包&b&lII"
      GP3:
        Type: "IRON_INGOT"
        Name: "&d&l茉茉禮包&e&lIII"
      carnation:
        Type: "BRAIN_CORAL_FAN"
        Name: "&d&l康乃馨&c&o?"
      head_random:
        Type: "PAPER"
        Name: "&c&l隨機頭顱 &f&l兌換券"
      fly:
        Type: "PAPER"
        Name: "&b&l飛行券"
      blade1:
        Type: "END_ROD"
        Name: "§b§l淨化猙之刃"
      blade2:
        Type: "END_ROD"
        Name: "§f§l猙之刃"
      petbuy0:
        Type: "PLAYER_HEAD"
        Name: "&f&l初新手 &6&l寵物轉蛋"
      petbuy1:
        Type: "PLAYER_HEAD"
        Name: "&f&l第1系列 &6&l寵物轉蛋"
      petbuy2:
        Type: "PLAYER_HEAD"
        Name: "&f&l第2系列 &6&l寵物轉蛋"
      petskill:
        Type: "PLAYER_HEAD"
        Name: "&a&l寵物技能 &f&l學習書"
      petskill_fire:
        Type: "PLAYER_HEAD"
        Name: "&4&l烈焰 &a&l寵物技能 &f&l學習書"
      petskill_arrowexp:
        Type: "PLAYER_HEAD"
        Name: "&b&l妖精 &a&l寵物技能 &f&l學習書"
      petskill_decay:
        Type: "PLAYER_HEAD"
        Name: "&6&l腐化 &a&l寵物技能 &f&l學習書"
      petskill_mount:
        Type: "PLAYER_HEAD"
        Name: "&e&l溫馴 &a&l寵物技能 &f&l學習書"
      petskill_lithe:
        Type: "PLAYER_HEAD"
        Name: "&f&l輕盈 &a&l寵物技能 &f&l學習書"
      petexp1:
        Type: "MUSIC_DISC_WARD"
        Name: "&a&l寵物經驗包I"
      petexp2:
        Type: "MUSIC_DISC_MALL"
        Name: "&e&l寵物經驗包II"
      petexp3:
        Type: "MUSIC_DISC_FAR"
        Name: "&c&l寵物經驗包III"
      vehiclesbuy1:
        Type: "PLAYER_HEAD"
        Name: "&f&l第1系列 &c&l坐騎轉蛋"
      vehiclesbuy2:
        Type: "PLAYER_HEAD"
        Name: "&f&l第2系列 &c&l坐騎轉蛋"
      JP1:
        Type: "RED_DYE"
        Name: "&c&l茉茉刮刮樂I"
      JP2:
        Type: "GLOWSTONE_DUST"
        Name: "&6&l茉茉刮刮樂II"
      JP3:
        Type: "YELLOW_DYE"
        Name: "&e&l茉茉刮刮樂III"
      JP4:
        Type: "PRISMARINE_SHARD"
        Name: "&a&l茉茉刮刮樂IV"
      SM_BD:
        Type: "BOOK"
        Name: "&e&l生日怪 &f&l召喚書"
      SM_yoyo880603:
        Type: "BOOK"
        Name: "&e&l小草生日怪 &f&l召喚書"
      SM_PTL_Una:
        Type: "BOOK"
        Name: "&3&l忒忒生日怪 &f&l召喚書"
      SM_Zi_Shen_OuO:
        Type: "BOOK"
        Name: "&3&l紫雲生日怪 &f&l召喚書"
      SM_MaToo_chu:
        Type: "BOOK"
        Name: "&9&l獅子魚生日怪 &f&l召喚書"
      SM_Magic1412:
        Type: "BOOK"
        Name: "&9&l呱呱生日怪 &f&l召喚書"
      SM_One_Punch:
        Type: "BOOK"
        Name: "&c&l一拳&e&l超人 &f&l召喚書"
      SM_Inosuke:
        Type: "BOOK"
        Name: "&6&l伊之助 &f&l召喚書"
      SM_Nemesis:
        Type: "BOOK"
        Name: "&4&l魔王涅梅西斯 &f&l召喚書"
      SM_Zombie1:
        Type: "BOOK"
        Name: "&a&l黛咪 &f&l召喚書"
      SM_Zombie2:
        Type: "BOOK"
        Name: "&e&l黛咪 &f&l召喚書"
      SM_Zombie3:
        Type: "BOOK"
        Name: "&6&l傑恩 &f&l召喚書"
      SM_Zombie4:
        Type: "BOOK"
        Name: "&c&l小丑 &f&l召喚書"
      SM_Zombie5:
        Type: "BOOK"
        Name: "&4&l人面鬼 &f&l召喚書"
      c_random_candy:
        Type: "PLAYER_HEAD"
        Name: "&e&l糖&a&l果&b&l包"
      c_increate_damage3:
        Type: "PLAYER_HEAD"
        Name: "&c&l力量糖果&f&lIII"
      c_speed3:
        Type: "PLAYER_HEAD"
        Name: "&9&l加速糖果&f&lIII"
      c_jump3:
        Type: "PLAYER_HEAD"
        Name: "&3&l跳躍糖果&f&lIII"
      c_health_boost3:
        Type: "PLAYER_HEAD"
        Name: "&6&l強壯糖果&f&lIII"
      c_regenration3:
        Type: "PLAYER_HEAD"
        Name: "&e&l康復糖果&f&lIII"
      c_fast_digging3:
        Type: "PLAYER_HEAD"
        Name: "&4&l破壞糖果&f&lIII"
      c_luck3:
        Type: "PLAYER_HEAD"
        Name: "&d&l幸運糖果&f&lIII"
      exp1:
        Type: "PLAYER_HEAD"
        Name: "&a&l茉茉經驗瓶I"
      exp2:
        Type: "PLAYER_HEAD"
        Name: "&e&l茉茉經驗瓶II"
      exp3:
        Type: "PLAYER_HEAD"
        Name: "&6&l茉茉經驗瓶III"
      lucky1_7d:
        Type: "PAPER"
        Name: "&a&l戴比路克的祝福I &f7日 &f&l兌換券"
      lucky1_30d:
        Type: "PAPER"
        Name: "&a&l戴比路克的祝福I &f30日 &f&l兌換券"
      lucky2_7d:
        Type: "PAPER"
        Name: "&e&l戴比路克的祝福II &f7日 &f&l兌換券"
      lucky2_30d:
        Type: "PAPER"
        Name: "&e&l戴比路克的祝福II &f30日 &f&l兌換券"
      lucky3_30d:
        Type: "PAPER"
        Name: "&e&l戴比路克的祝福 I + II &f30日 &f&l兌換券"
      slimecheck:
        Type: "BREWING_STAND"
        Name: "&a&l黏液檢測器&4&l〄"
      bbt_boost:
        Type: "BOOK"
        Name: "&d&l爆能強化箭矢&7&l☄ &f&l學習書"
      bbt_explosion:
        Type: "BOOK"
        Name: "&4&lExplosion！ &f&l學習書"
      bbt_wool:
        Type: "BOOK"
        Name: "&c&l彩&6&l色&e&l羊&a&l毛 &f&l學習書"
      bbt_glass:
        Type: "BOOK"
        Name: "&6&l彩&e&l色&a&l玻&9&l璃 &f&l學習書"
      bbt_terracotta:
        Type: "BOOK"
        Name: "&e&l彩&a&l色&9&l釉&1&l陶 &f&l學習書"
      em_1:
        Type: "BOOK"
        Name: "&e&l心情&4ღ &f表情I &f&l學習書"
      em_2:
        Type: "BOOK"
        Name: "&e&l心情&4ღ &f表情II &f&l學習書"
      em_3:
        Type: "BOOK"
        Name: "&e&l心情&4ღ &f表情III &f&l學習書"
      p_carnation:
        Type: "BOOK"
        Name: "&c&l特效&f✷ &c&l抱抱你 &f&l學習書"

Message:
  prefix: "&f"
  Commands:
    title: "&8▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩ &d&lServerPlus &8▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩"
    help: "&a/serverplus help &8- &7This help menu."
    reload: "&a/serverplus reload &8- &7Reloads config file."
    version: "&f/serverplus version &8- &7Checks the plugin version and updates."
  itemJoinFix: "&f成功掃描身上所有物品 - 修復 %amount% 個物品"
  morphToolRename: "&c這個物品不能更改名字"
  morphToolNetherite: "&c這個物品不能升級"
  authMeMailEmpty: "&c請設置 Email 用於取回密碼， 輸入/email add 信箱 信箱"
  donateGroupNotFound: "&c找不到升級的贊助用戶組"
  pvpOn: "%player_display_name% 開啟PVP模式"
  pvpOff: "%player_display_name% 關閉PVP模式"